{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h2>{{ page.title }}</h2>

    <div class="intro">{{ page.intro|richtext }}</div>

    <hr>

    <article class="articles">
        {% for post in blogpages %}
            <div class="article-card">
                {% with post=post.specific %}
                    <div class="article-card-image">
                        {% with post.main_image as main_image %}
                            {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                        {% endwith %}
                    </div>
                    <div class="article-card-content">
                        <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
            
                        <p>{{ post.intro }}</p>
                        <a href="{% pageurl post %}">Lire +</a>
                    </div>
                {% endwith %}
            </div>
        {% endfor %}
    </article>
    
{% endblock %}
